<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>tabor</string>
  <key>CFBundleIdentifier</key>
  <string>com.pinkbot.tabor</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Tabor</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.productivity</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.14.0</string>
  <key>TABORDistributionChannel</key>
  <string>direct</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>MacOSX</string>
  </array>
  <key>CFBundleVersion</key>
  <string>0.14.0</string>
  <key>CFBundleIconFile</key>
  <string>tabor.icns</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSMainNibFile</key>
  <string></string>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
  <key>NSPrefersDisplaySafeAreaCompatibilityMode</key>
  <false/>
  <key>CFBundleDisplayName</key>
  <string>Tabor</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>com.pinkbot.tabor.web</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>http</string>
        <string>https</string>
      </array>
    </dict>
  </array>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>PDF Document</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.adobe.pdf</string>
      </array>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>pdf</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Image Document</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.png</string>
        <string>public.jpeg</string>
        <string>com.compuserve.gif</string>
        <string>com.microsoft.bmp</string>
        <string>public.tiff</string>
        <string>org.webmproject.webp</string>
      </array>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>png</string>
        <string>jpg</string>
        <string>jpeg</string>
        <string>gif</string>
        <string>bmp</string>
        <string>tif</string>
        <string>tiff</string>
        <string>webp</string>
      </array>
    </dict>
  </array>
  <key>NSRequiresAquaSystemAppearance</key>
  <string>NO</string>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSExceptionDomains</key>
    <dict>
      <key>localhost</key>
      <dict>
        <key>NSExceptionAllowsInsecureHTTPLoads</key>
        <true/>
        <key>NSIncludesSubdomains</key>
        <true/>
      </dict>
    </dict>
  </dict>
    <key>NSAppleEventsUsageDescription</key>
    <string>An application in Tabor would like to access AppleScript.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>An application in Tabor would like to access calendar data.</string>
    <key>NSCameraUsageDescription</key>
    <string>An application in Tabor would like to access the camera.</string>
    <key>NSContactsUsageDescription</key>
    <string>An application in Tabor wants to access your contacts.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>An application in Tabor would like to access your location information, even in the background.</string>
    <key>NSLocationUsageDescription</key>
    <string>An application in Tabor would like to access your location information.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>An application in Tabor would like to access your location information while active.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>An application in Tabor would like to access your microphone.</string>
    <key>NSWebBrowserPublicKeyCredentialUsageDescription</key>
    <string>Tabor uses passkeys to sign you in to supported websites in browser tabs.</string>
    <key>NSRemindersUsageDescription</key>
    <string>An application in Tabor would like to access your reminders.</string>
    <key>NSSystemAdministrationUsageDescription</key>
    <string>An application in Tabor requires elevated permissions.</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>An application in Tabor wants to use Bluetooth.</string>
</dict>
</plist>
